html {
  scroll-behavior: smooth;
}
#inicio {
  background-image: url(../img/text_img/cool-background.png);
  background-position: cover;
  height: 36%;
}

body {
  background-color: #d3d3f5;
  font-family: "Patrick Hand", cursive;
  font-size: 28px;
}

/*Menu de navegação*/

header {
  display: flex;
  height: 74px;
  justify-content: space-around;
}

header > nav {
  width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > button {
  padding: 14px;
  background-color: rgb(216, 171, 239);
  border-bottom: 2px solid transparent;
  font-weight: 700;
  border: none;
  border-radius: 16px;
}

nav a:hover {
    color: #494848;
    text-decoration: underline;
  }
  
nav a:active {
    color: #995be6;
    text-decoration: underline;
  }

 

nav a {
  text-decoration: none;
}
/* Apresentação*/

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 66%;
  align-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.ap-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ap-text img {
  width: 23%;
  border-radius: 126px;
  margin-left: 10%;
  transform: translate(10px, 10px);
}

.caixa h1 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.arrow {
  width: 8%;
  margin-top: 8%;
}

/* Minhas características*/

.caracteristics {
  margin-top: 14%;
}
.caracteristics img {
  width: 25%;
  border-radius: 30px;
  box-shadow: 9px 7px 12px 1px rgb(118 118 118);
  transition: transform .2s;
}

.caracteristics img:hover {
  transform: scale(1.2);
  margin-top: 1%;
  margin-bottom: 1%;
}

.caracteristics ul {
  list-style: none;
}

/* Meus projetos */

#projects {
  background-color: #d5c1f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6%;
  gap: 80px;
}

#projects > button{
    border: none;
    background-color:#d5c1f0 ;

}

#projects > button:hover{
transform: scale(1.2);
}

.link-projects-1 img{
width: 45%;
box-shadow: 10px 20px 10px 20px #d5c1f0;
}

.link-projects-2 img{
width: 40%;
box-shadow: 8px 4px 20px 19px #d5c1f0;
}


.link-projects-3 img{
    width: 60%;
    box-shadow: 8px 4px 20px 19px #d5c1f0;
}

.link-projects-4 img{
    width: 62%;
    box-shadow: 8px 4px 20px 19px #d5c1f0;
}


/* Meus contatos */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #bfb4ef, #dfd2ee) ;
  }

.links {
    border: solid;
    border-radius: 20px;
    box-shadow: 9px 7px 12px 1px rgb(118 118 118);
    width: 8%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
}

.links button{
  margin-top: 5%;
  background: linear-gradient(to right, #bfb4ef, #dfd2ee) ;
  border: none;
  border-radius: 25px;
  transition: transform .2s;
}

.links button:hover{
    transform: scale(0.85);
}

.links button:visited{
    background-color: rgba(193, 193, 193, 0.952);
}

.links img {
  width: 30px;
}
/* Botão para o início*/

.btn-inicio {
  width: 60px;
  background-color: white;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  opacity: 0.3;
}

.btn-inicio img {
  width: 40px;
}

.btn-inicio:hover {
  opacity: 0.9;
}

@media screen and (max-width: 700px) {
  body{
    font-size: 22px;
  }
  header > nav {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly
  }
nav > button {
  padding: 12px;
  width: 74px;
}

nav a{
  font-size: 13px;
}

.ap-text{
  flex-direction: column-reverse;
}

.ap-text img {
  width: 53%;
  margin-left: 0%;
}

.arrow{
  width: 18%;
}

.caracteristics img {
  width: 95%;
}

.links{
  width: 30%;
  margin-bottom: 9%;
}

.links button{
  width: 34%;
}

.btn-inicio img {
  width: 32px;
}

.btn-inicio {
  width: 48px;
  height: 48px;
  right: 18px;
}

#projects > button:hover{
  transform: none;
  }

  .caracteristics img:hover {
    transform: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}